# Java
*.class
*.log
*.jar
*.war
*.ear

# Node
node_modules

# Maven
target/

# Gradle
.gradle/
build/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
logs/

# Environment
.env
.env.*

# Docker
*.pid

# Other files
topics-potential.md


